[submodule "3rdparty/bundles/c.tmbundle"]
	path = 3rdparty/bundles/c.tmbundle
	url = https://github.com/textmate/c.tmbundle
[submodule "3rdparty/bundles/property-list.tmbundle"]
	path = 3rdparty/bundles/property-list.tmbundle
	url = https://github.com/textmate/property-list.tmbundle
[submodule "3rdparty/bundles/monokai.tmbundle"]
	path = 3rdparty/bundles/monokai.tmbundle
	url = https://github.com/textmate/monokai.tmbundle
[submodule "3rdparty/bundles/xml.tmbundle"]
	path = 3rdparty/bundles/xml.tmbundle
	url = https://github.com/textmate/xml.tmbundle.git
[submodule "3rdparty/bundles/go.tmbundle"]
	path = 3rdparty/bundles/go.tmbundle
	url = https://github.com/AlanQuatermain/go-tmbundle.git
[submodule "3rdparty/libs/gopy"]
	path = 3rdparty/libs/gopy
	url = https://github.com/limetext/gopy.git
	ignore = dirty
[submodule "3rdparty/libs/rubex"]
	path = 3rdparty/libs/rubex
	url = https://github.com/limetext/rubex.git
	ignore = dirty
[submodule "3rdparty/libs/termbox-go"]
	path = 3rdparty/libs/termbox-go
	url = https://github.com/limetext/termbox-go.git
[submodule "3rdparty/bundles/TextMate-Themes"]
	path = 3rdparty/bundles/TextMate-Themes
	url = https://github.com/filmgirl/TextMate-Themes.git
[submodule "3rdparty/bundles/GoSublime"]
	path = 3rdparty/bundles/GoSublime
	url = https://github.com/DisposaBoy/GoSublime.git
[submodule "3rdparty/bundles/Vintageous"]
	path = 3rdparty/bundles/Vintageous
	url = https://github.com/quarnster/Vintageous.git
	ignore = dirty
[submodule "3rdparty/bundles/themes/soda"]
	path = 3rdparty/bundles/themes/soda
	url = https://github.com/buymeasoda/soda-theme.git
[submodule "3rdparty/bundles/python.tmbundle"]
	path = 3rdparty/bundles/python.tmbundle
	url = git://github.com/textmate/python.tmbundle.git
